body {
    font-size: 1rem;
    background: grey;
    text-align: center;
}

h1 {
    font-size: 7rem;
    line-height: 1;
    margin-bottom: 0;
}
.tiles {
    display: flex;
    flex-direction: row;
    
}
#blank1 {
    width: 20px;
    height: 20px;
}
#blank2 {
    width: 20px;
    height: 20px;
}
#blank3 {
    width: 20px;
    height: 20px;
}
#blank4 {
    width: 20px;
    height: 20px;
}
#blank5 {
    width: 20px;
    height: 20px;
}
#blank6 {
    width: 20px;
    height: 20px;
}
#blank7 {
    width: 20px;
    height: 20px;
}
.unFlipped {
    width: 200px;
    height: 200px;
    background-color: darkslategrey;
}



.blue{
    width: 200px;
    height: 200px;
    background-color: blue;
}
.bluePair{
    width: 200px;
    height: 200px;
    background-color: blue;
}
.red{
    width: 200px;
    height: 200px;
    background-color: red;
}
.green{
    width: 200px;
    height: 200px;
    background-color: green;
}
.yellow{
    width: 200px;
    height: 200px;
    background-color: yellow;
}

