body {
    font-size: 1rem;
    background: grey;
    text-align: center;
}

h1 {
    font-size: 6rem;
    line-height: 1;
    margin-bottom: 0;
}
.flipTracker {
   display: flex;
   justify-content: center;
}
.tiles {
    display: flex;
    flex-direction: row;
    
}
#blank1 {
    width: 20px;
    height: 20px;
}
#blank2 {
    width: 20px;
    height: 20px;
}
#blank3 {
    width: 20px;
    height: 20px;
}
#blank4 {
    width: 20px;
    height: 20px;
}
#blank5 {
    width: 20px;
    height: 20px;
}
#blank6 {
    width: 20px;
    height: 20px;
}
#blank7 {
    width: 20px;
    height: 20px;
}
.unFlipped {
    width: 200px;
    height: 200px;
    background-color: darkslategrey;
}



.blue{
    width: 200px;
    height: 200px;
    background-color: blue;
}
.bluePair{
    width: 190px;
    height: 190px;
    background-color: blue;
    border-style: solid;
    border-radius: 15px;
    border-color: black;
}
.red{
    width: 200px;
    height: 200px;
    background-color: red;
}
.redPair{
    width: 190px;
    height: 190px;
    background-color: red;
    border-style: solid;
    border-radius: 15px;
    border-color: black;
}
.green{
    width: 200px;
    height: 200px;
    background-color: green;
}
.greenPair{
    width: 190px;
    height: 190px;
    background-color: green;
    border-style: solid;
    border-radius: 15px;
    border-color: black;
}
.yellow{
    width: 200px;
    height: 200px;
    background-color: yellow;
}
.yellowPair{
    width: 190px;
    height: 190px;
    background-color: yellow;
    border-style: solid;
    border-radius: 15px;
    border-color: black;
}

