body {
    font-size: 1rem;
    background: grey;
    text-align: center;
}

h1 {
    font-size: 7rem;
    line-height: 1;
    margin-bottom: 0;
}
.tiles {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: darkslategrey;
    
}
#tile1 {
    width: 200px;
    height: 200px;
}
#tile2 {
    width: 200px;
    height: 200px;
}

#tile3 {
    width: 200px;
    height: 200px;
}

#tile4 {
    width: 200px;
    height: 200px;
}

#tile5 {
    width: 200px;
    height: 200px;
}

#tile6 {
    width: 200px;
    height: 200px;
}

#tile7 {
    width: 200px;
    height: 200px;
}

#tile8 {
    width: 200px;
    height: 200px;
}


.blue{
    background-color: blue;
}
.red{
    background-color: red;
}
.green{
    background-color: green;
}
.yellow{
    background-color: yellow;
}

